<div class="flex justify-around mt-7">
  <div class="text-2xl">
    <h2>Trending movies</h2>
  </div>
  <div class="text-2xl font-bold">
    <h2>Filter By...</h2>
  </div>
  <!-- fetched movies -->
</div>
<div class="flex justify-center mt-10">
  <div class="grid grid-cols-4 gap-3">
    <app-movie-thumb></app-movie-thumb>
    <app-movie-thumb></app-movie-thumb>
    <app-movie-thumb></app-movie-thumb>
    <app-movie-thumb></app-movie-thumb>
    <app-movie-thumb></app-movie-thumb>
    <app-movie-thumb></app-movie-thumb>
    <app-movie-thumb></app-movie-thumb>
    <app-movie-thumb></app-movie-thumb>
  </div>
</div>
